* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(246,248,249,255);
}


header {
    width: 100%;
    height: 70px;
    background-color: white;
    
}

.logo {
    margin-left: 20px;
    margin-top: 10px;
    vertical-align: middle;
}

.titolo {
    display: inline-block;
    font-size: 2.5em;
    vertical-align: bottom;
}

.contenitore {
    background-color: white;
    width: 60%;
    line-height: 60px;
    margin: auto;
    margin-top: 50px;
    padding-left: 50px;
}

.button {
        vertical-align: middle;
        display: inline;
        margin-right: 2px;
}

.addtask {
    background-color: rgba(71,173,241,255);
    border-radius: 5px;
    color: white;
    border: solid rgba(71,173,241,255) 1px;
    padding: 6px 10px;
    font-size: 0.8rem;
    font-weight: bold;
}

.addsection {
        background-color: white;
        border-radius: 5px;
        color: lightgray;
        border: solid lightgray 1px;
        padding: 6px 10px;
        font-size: 0.8rem;
        font-weight: bold;

}

.contenitore2 {
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 4px;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 60px;
}

.sezionelista {
    margin-bottom: 20px;
    line-height: 30px;
}

h2 {
    display: inline-block;
}

.task {
    line-height: 45px;
}

.check {
    font-size: 12px;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    padding: 2px 4px 3px;
    margin-right: 5px;
}
.done {
    border-color: rgba(131,205,188,255);
    color: rgba(131,205,188,255);
}

.notdone {
    border-color:#eb5952;
    color:#eb5952;
}
.writtentask {
    font-size: 1.3em;
}

.tags {
    color: white;
    font-size: 10px;
    border-radius: 16px;
    border-style: solid;
    padding: 4px 13px;
    vertical-align: middle;
    
}

.editorial {
    background-color: rgba(69,171,234,255);
    border-color: rgba(69,171,234,255);
}

.q1goals {
    background-color: rgba(156,114,228,255);
    border-color: rgba(156,114,228,255);
}

.recruiting {
    background-color: #64c0a9;
    border-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
    border-color: #f29e33;
}

.website {
    background-color: #d863a1;
    border-color: #d863a1;
}

.sales {
    background-color: #b0c926;
    border-color: #b0c926;
}